<div class="container">
  <div class="row">
    <h1>Prueba de grillas</h1>
    <p>
      Como se puede observar, hay 5 columnas 'col-md-2', lo que
      en la práctica no completa los 12 espacios requeridos en la versión
      original de bootstrap 3.3.1. No obstante, l haber modificado _variables.scss
      permitió cambiar la cantidad requerida a 10 columnas por fila y es por
      eso que se puede ver que las 5 columnas ocupan todo el contenedor.
    </p>
  </div>
  <div class="row">
    <div class="col-md-2">
      1
    </div>
    <div class="col-md-2">
      2
    </div>
    <div class="col-md-2">
      3
    </div>
    <div class="col-md-2">
      4
    </div>
    <div class="col-md-2">
      5
    </div>
  </div>
</div>
